.search-box{
	max-width: $search-width;
    display: $inline-block;
}

.search-btn{
	margin-left: $left-margin-search;
	display: $inline-block;
	@include border-radius(5px);
	@include padding-search(6px,15px);
	@include box-shadow(0px, 1px, 3px, #666666);
	background-color: $btn-default-color;
	cursor:pointer;
	color:$white;
	
	&.load-more{
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		@include make-lg-column(12); 
		margin-top:10px;
		margin-left:0px;
	}
}

.header-padding{
	padding-left:$header-pad-left;
}

.top-banner{
	@include color-gradient($top-header-color, $btm-header-color);
	height:$header-height;
	color:$white; 
	
	.header-style{
		@include make-xs-column(9);
		@include make-sm-column(6);
		@include make-md-column(6);
		@include make-lg-column(6);
		font-size:40px;
		padding-top:$header-padding-top;
		height:$header-height;
	}
	
	.top-menu{
		@include make-xs-column(3);
		@include make-sm-column(2);
		@include make-md-column(2);
		@include make-lg-column(2);
		font-size:24px;
		padding-top:$menu-padding-top;
		height:$header-height;
		cursor:pointer;
		&.active, &:hover{
			@include color-gradient($top-menu-color, $btm-menu-color);
		}
	}
}

.force-pad-left{
	padding-left:20px;
}

.sub-header{
	@extend .force-pad-left;
	height: 45px;
    padding-top: 5px;
    border-bottom: 1px solid $default-border-color;
	color: #969696;
}

.sub-heading-1{
	@extend .sub-header;
    font-size: 24px;
	.grid-sub-header-1{
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		@include make-lg-column(12);
	}
}

.sub-heading-2{
	@extend .sub-header;
	height:56px;
	.grid-account{
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(6);
		@include make-lg-column(6);
	}
	.grid-balance{
		@include make-xs-column(12);
		@include make-sm-column(3);
		@include make-md-column(3);
		@include make-lg-column(3);
	}
}

.sub-heading-3{
	@extend .sub-header;
	height:68px;
	.grid-search-box{
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		@include make-lg-column(12);
	}
}


.special-char{
	font-weight: 600;
    font-size: 18px;
}

.table-header-container{
	@include make-xs-column(12);
	@include make-sm-column(12);
	@include make-md-column(12);
	@include make-lg-column(12);
	margin:20px 0 10px 0;	
	.table-head{
		font-weight:600;
		font-size:14px;
	}
}


.transaction{
	@include make-xs-column(12);
	@include make-sm-column(12);
	@include make-md-column(12);
	@include make-lg-column(12);
	@include transaction-border(1px, solid, $default-border-color);
	padding-top: 10px;
    padding-bottom: 10px;
}

.transaction:first-child{
	border-top:1px solid $default-border-color;
}

.grid-date,.grid-transaction,.grid-balance{
	@include make-xs-column(3);
	@include make-sm-column(2);
	@include make-md-column(2);
	@include make-lg-column(2);
}

.grid-desc{
	@include make-xs-column(3);
	@include make-sm-column(6);
	@include make-md-column(6);
	@include make-lg-column(6);
}

.navbar-brand{
	font-size: 40px;
    margin: 15px 0;
}

.navbar{
	margin-bottom:0px;
}

.navbar-default{
	@include color-gradient($top-header-color, $btm-header-color);
	border: 0px;
	@include border-radius(0px);
	
	.navbar-brand{
		color:$white;
		&:hover{
			color:$menu-hover;
		}
	}
	.navbar-nav>li>a{
		color:$white;
		cursor:pointer;
		&:hover{
			color:$menu-hover;
		}
		
		&.active{
			color:$menu-active;
		}
	}
}

@media (min-width: $screen-lg) {
	.navbar-nav>li{
		font-size: 24px;
		padding-top: 18px;
	}
}
@media (max-width: $screen-md-max) and (min-width: $screen-md) {
	.navbar-nav>li{
		font-size: 22px;
		padding-top: 18px;
	}
}
@media (max-width: $screen-sm-max) and (min-width: $screen-sm) {
	.navbar-nav>li{
		font-size: 20px;
		padding-top: 18px;
	}
}
@media (max-width: $screen-xs-max) {
	.navbar-toggle{
		margin-top:23px;
	}
	
	.sub-heading-2{
		height: 158px;
		.grid-account{
			margin-bottom:10px;
		}
		.grid-balance{
			text-align:left;
		}
	}
	
	.search-box{
		max-width:195px;
	}
	
	.table-header-container{
		.table-head{
			font-size:12px;
		}
	}
	
	.transaction{
		font-size:12px;
	}
	
	.force-pad-left{
		padding-left:0px;
	}
}