@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($h-shadow,$v-shadow,$blur,$color ){
	-webkit-box-shadow: $h-shadow $v-shadow $blur $color;
	-moz-box-shadow: $h-shadow $v-shadow $blur $color;
	box-shadow: $h-shadow $v-shadow $blur $color;
}

@mixin color-gradient($top-color, $btm-color){
	background-image: -webkit-linear-gradient(top, $top-color, $btm-color);
	background-image: -moz-linear-gradient(top, $top-color, $btm-color);
	background-image: -ms-linear-gradient(top, $top-color, $btm-color);
	background-image: -o-linear-gradient(top, $top-color, $btm-color);
	background-image: linear-gradient(to bottom, $top-color, $btm-color);
}

@mixin transaction-border($size, $type, $color){
	border-bottom: $size $type $color;
    border-left: $size $type $color;
    border-right: $size $type $color;
}

@mixin padding-search($vertical, $horisontal ){
	padding: $vertical $horisontal;
}