$search-width:250px;
$inline-block: inline-block;
$left-margin-search: 20px;
$header-pad-left: 40px;
$top-header-color:#727373;
$btm-header-color:#272626;
$header-height:80px;
$white:#fff; 
$header-padding-top:12px;
$menu-padding-top:24px;
$top-menu-color:#565656;
$btm-menu-color:#020202;
$default-border-color:#D8D7D7;
$btn-default-color:#FF963B;
$menu-hover:#EFEAEA;
$menu-active:#F99D4D;