<!DOCTYPE html>
<html ng-app="transaction-app">
<head>
<link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="../css/main.min.css" rel="stylesheet">
</head>
<body ng-controller="TransactionController">
	<!--div class="top-banner">
		<div class="header-padding header-style">
			Bank
		</div>
		<div class="text-center top-menu active hidden-xs">
			Accounts
		</div>
		<div class="text-center top-menu hidden-xs">
			Menu 1
		</div>
		<div class="text-center top-menu hidden-xs">
			Menu 2
		</div>
		<div class="text-center top-menu visible-xs">
			<span>Menu</span>
			<div class="text-center sub-menu-xs visible-xs">
				<div>Account</div>
				<div>Menu 1</div>
				<div>Menu 2</div>
			</div>
		</div>
		
	</div-->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header force-pad-left">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">Bank</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						
			<ul class="nav navbar-nav navbar-right">
				<li><a class="active">Accounts</a></li>
				<li><a>Menu 1</a></li>
				<li><a>Menu 2</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="sub-heading-1">
		<div class="header-padding grid-sub-header-1">
			Transaction History
		</div>
	</div>
	<div class="sub-heading-2">
		<div class="header-padding grid-account">
			<span class="special-char">Savings Account</span>
			<br/>
			<span>{{accountNo}}</span>
		</div>
		<div class="text-center grid-balance">
			<span>Current Balance</span>
			<br/>
			<span class="special-char">{{curBal}}</span>
		</div>
		<div class="text-center grid-balance">
			<span>Available Balance<span>
			<br/>
			<span class="special-char">{{availBal}}</span>
		</div>
	</div>
	<div class="sub-heading-3">
		<div class="header-padding grid-search-box">
			<span>Search for description</span>
			<br/>
			<input type="text" class="form-control search-box" ng-model="searchTerm" /> <span class="search-btn" ng-click="searchDesc()">Search</span>
		</div>
	</div>
	<div class="container">
		<div class="table-header-container">
			<div class="table-head grid-date">Date</div>
			<div class="table-head grid-desc">Description</div>
			<div class="table-head grid-transaction">Debit/Credit</div>
			<div class="table-head grid-balance">Balance</div>
		</div>
		<div class="transaction" ng-style="$index === 0 ? {'border-top':'1px solid #D8D7D7'} : {}" ng-repeat="transaction in transactions track by $index">
			<div class="grid-date">{{transaction.Date}}</div>
			<div class="grid-desc">{{transaction.Description}}</div>
			<div class="grid-transaction">{{transaction.Transaction}}</div>
			<div class="grid-balance">{{transaction.Balance}}</div>
		</div>
		
		<div class="text-center search-btn load-more" ng-click="loadMore()">
			Load more transaction
		</div>

		
	</div>
	
<script src="../js/build/production.min.js"></script>
</body>
</html>